@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Inter:wght@300;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

/* ======= hero =======*/

.silder {
  position: relative;
  height: 95vh;
  margin: 20% 7% 0 7%;
  text-align: center;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 70vh;
}

.slide_img {
  width: 80%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 10px #555;
  margin: 20px 0;
}

.silder_text {
  background-image: url("./images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: center top;
  margin: 50px 0 0 0;
  padding: 50px 0 0 0;
}

.slide_para-1 {
  margin: 20px 0;
  font-size: 24px;
  color: hsl(240, 38%, 20%);
  font-weight: 300;
}

.slide_para-2 {
  color: hsl(240, 38%, 20%);
  font-weight: 700;
}

.slide_para-3 {
  color: hsl(240, 18%, 77%);
}

.shape--1 {
  position: absolute;
  top: 7%;
  z-index: -9;
  left: 5%;
  right: 5%;
}

.btn--container {
  position: absolute;
  display: flex;
  width: 100px;
  height: 40px;
  background-color: #fff;
  border-radius: 24px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  top: 350px;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px #999;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* ======= medai query =======*/

@media (min-width: 700px) {
  .silder {
    height: 75vh;
    margin: 7% 7% 0 7%;
  }
  .slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: -200px;
    height: 40vh;
  }

  .slider_image {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .silder_text {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    z-index: 9999;
    width: 125%;
    background-position: 10% top;
  }

  .btn--container {
    top: 550px;
    left: 35%;
  }

  .slide_img {
    width: 80%;
    height: 550px;
  }
  .slide_para-1 {
    font-size: 32px;
  }

  .shape--1 {
    top: 10%;
    left: 55%;
    right: 3%;
    bottom: 0;
    height: 600px;
  }

  .silder_text_sub {
    display: flex;
  }

  .slide_para-2 {
    margin-right: 20px;
  }
}
